// ===============================================================
// Font Styles
// ===============================================================
@font-face {
  font-family: 'Chunkfive';
  src: url('/nineteen-holes/dist/fonts/chunkfive-webfont.eot');
  src: url('/nineteen-holes/dist/fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
       url('/nineteen-holes/dist/fonts/chunkfive-webfont.woff2') format('woff2'),
       url('/nineteen-holes/dist/fonts/chunkfive-webfont.woff') format('woff'),
       url('/nineteen-holes/dist/fonts/chunkfive-webfont.ttf') format('truetype'),
       url('/nineteen-holes/dist/fonts/chunkfive-webfont.svg#chunkfiveroman') format('svg');
  font-weight: normal;
  font-style: normal;
}
