// ===============================================================
// Basic Text Styles
// ===============================================================

body
{
  font-family: 'Georgia', serif;
}

h1,h2,h3,h4,h5
{
  font-family: 'Chunkfive';
}

p
{
  line-height: 1.4;
}

.nh-ui
{
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
